@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #eaeaea;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language-container {
    flex-grow: 1;
    text-align: center;
}

.language-container h1 {
    line-height: 1.2em;

    font-family: 'Merriweather', serif;
}

.language-container textarea {
    resize: none;

    box-sizing: border-box;
    width: 400px;
    height: 400px;

    padding: 1em;

    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}